<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Recipe</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">  
    <link rel = "stylesheet" href = "assets/css/style3.css">

  </head>
  <body>
    <div class="container-fluid pb-0" id = "topBand" style ="text-align: center;">
      <span class=" social fa fa-facebook"></span>
      <span class=" social fa fa-google-plus"></span>
      <span class=" social fa fa-instagram"></span>
    </div>    
    <nav class="navbar sticky-top navbar-expand-lg">
      <a class="navbar-brand" href="index.html">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">My Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Recipe</a>
            </li>      
          </ul>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn search" type="submit">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="fa fa-user fa-lg"></span>User Profile</a></li>
          </ul>      
      </div>
    </nav>  
    
    <br><br>
      <div class="card mx-auto text-center w-75">
                <div class="card-header" id = "cardHeader">
                <h4>Add a recipe</h4>
                </div>
    
                <div class="card-body">                
                 
                    <div class = "forminfo" style = "color: blue;">
                        To submit a recipe to the catalog, fill out the form below and submit.
                    </div></br></br>
                  
                    <form action="">                    
                    
                        <fieldset class="form-group">
                            <label for="name">Name of recipe:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="name">Category:</label>
                            <input type="text" class="form-control" id="Category" name="Category">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="ingredients">Ingredients:</label></br>
                            <textarea name="ingredients" id="ingredients" cols="30" rows="7" class="form-control"></textarea>
                        </fieldset>
                    
                        <fieldset class="form-group">
                            <label for="steps">Instructions:</label></br>
                            <textarea name="instructions" id="instructions" cols="30" rows="7" class="form-control"></textarea>
                        </fieldset>                    
                    
                        <button type="submit" class="btn form-button">Submit Recipe</button>
                    </form>
                </div>
            </div>
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <br/><br/>     
        
  <footer class="text-center fixed-bottom">
    <p>&copy; More-Recipes 2018</p>
  </footer>



	<script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
  

    
  </body>
</html>