<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Favorite recipes</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes"> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel = "stylesheet" href = "assets/css/style3.css">

  </head>
  <body>
    <div class="container-fluid pb-0" id = "topBand" style ="text-align: center;">
      <span class=" social fa fa-facebook"></span>
      <span class=" social fa fa-google-plus"></span>
      <span class=" social fa fa-instagram"></span>
    </div>    
    <nav class="navbar sticky-top navbar-expand-lg">
      <a class="navbar-brand" href="index.html">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">My Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Recipe</a>
            </li>      
          </ul>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn search" type="submit">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="fa fa-user fa-lg"></span>User Profile</a></li>
          </ul>      
      </div>
    </nav>  
    <div id="sampleRecipes" class="carousel slide container-fluid" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#sampleRecipes" data-slide-to="0" class="active"></li>
          <li data-target="#sampleRecipes" data-slide-to="1"></li>
          <li data-target="#sampleRecipes" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img/lg5.jpg" alt="First slide" style = "height: 325px;">
          </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/lg3.jpg" alt="Second slide" style = "height: 325px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/lg2.jpg" alt="Third slide" style = "height: 325px;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div> <!--ends carousel -->
    <br><br>
    <h4><small>YOUR FAVORITE RECIPES</small></h4>
    <hr>
    <div class = "container">
    <div class = "container bg-3 text-center"> <!--catalog container-->
      <div class = "grid-holder">
          <div class="card-holder">
          <div class="card bg-light text-black">
            <img class="card-img" src="assets/img/hd8.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
            <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
              <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
              <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
              <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
            </p>
      
            <div class="card-body">
              <h4 class="card-title">Fruittie Froth</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
              </p>
              <a href="recipeDetails.html" class="btn" style="background-color: #663300">Check Details</a>
            </div>
          </div>
        </div>
        <div class="card-holder">
          <div class="card bg-light text-black">
        <img class="card-img" src="assets/img/hd8.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
          <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
            <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
            <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
            <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
          </p>
      
      <div class="card-body">
        <h4 class="card-title">Fruittie Froth</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
        </p>
        <a href="recipeDetails.html" class="btn" style="background-color: #663300">Check Details</a>
      </div>
    </div>
  </div>
  <div class ="card-holder">
    <div class="card bg-light text-black">
      <img class="card-img" src="assets/img/hd1.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
      <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
          <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
          <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
          <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
        </p>
      
      <div class="card-body">
        <h4 class="card-title">Arabian Sallad</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
        </p>
        <a href="recipeDetails" class="btn" style="background-color: #663300">Check Details</a>
      </div>
    </div>  
  </div>          
  
          <div class="card-holder">
          <div class="card bg-light text-black px-0">
      <img class="card-img" src="assets/img/hd2.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
      <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
          <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
          <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
          <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
        </p>
      <div class="card-body">
        <h4 class="card-title">Kenke</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
        </p>
        <a href="recipeDetails.html" class="btn" style="background-color: #663300">Check Details</a>
      </div>
    </div>
  </div>
    <div class="card-holder">
          <div class="card bg-light text-black">
      <img class="card-img" src="assets/img/hd8.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
      <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
          <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
          <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
          <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
        </p>
      
      <div class="card-body">
        <h4 class="card-title">Fruittie Froth</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
        </p>
        <a href="recipeDetails.html" class="btn" style="background-color: #663300">Check Details</a>
      </div>
    </div>
  </div>
    <div class="card-holder">
    <div class="card bg-light text-black px-0">
      <img class="card-img" src="assets/img/hd3.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;"/>
      <p class="card-text mt-0" style = "background-color: rgba(128,128, 128, 0.4);">
          <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
          <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
          <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
        </p>
      <div class="card-body">
        <h4 class="card-title">Vegie Max</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tincidunt diam, efficitur volutpat leo.
        </p>
        <a  href = "recipeDetails.html" class="" style="background-color: #663300">Check Details</a>
      </div>
    </div> 
    </div>           
    </div>
  </div> <!-- ends catalog container-->
    <br><br>
      
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <br/><br/>      
  </div>    
        
  <footer class="text-center fixed-bottom">
    <p>&copy; More-Recipes 2018</p>
  </footer>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  

    
  </body>
</html>