<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipe Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/form-elements.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">   


</head>
<body>

<nav id="mainnav" class="navbar navbar-expand-sm navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" 
   aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>        
       <a class="navbar-brand" href = "index.html">More-Recipes</a>
    
    <div class="collapse navbar-collapse" id="nav-content">
      <ul class="nav navbar-nav">
        <li class="active"><a href="listrecipes.html">Home</a></li>
        <li><a href="addrecipe.html">Add Recipe</a></li>
        <li><a href="myfavourites.html">My Favourites</a></li>
        <li><a href="myrecipes.html">My Recipes</a></li>
      </ul>
      <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      
    </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="listrecipes.html"><span class="fa fa-sign-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<main>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4></h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#ingredients">Ingredients</a></li>
        <li><a href="#instructions">Instruction</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul><br><br>
      <hr>
      <div class="Rating" style = "text-align: right; ">
            <span class="fa fa-thumbs-up " style = "color: green; font-size: 24px">98</span><br><br><br>
            <span class="fa fa-star" style = "color: purple; font-size: 24px">25</span><br><br><br>
            <span class="fa fa-thumbs-down" style = "color: red; font-size: 24px">11</span>
          </div>      
    </div>

    <div class="col-sm-9">
      <h4><small>RECIPE DETAILS</small></h4>
      <hr>


<img class="img-responsive" src="assets/img/img2.jpg" alt="banner-image" width = "100%" height="100%"/>

      <h2>Chicken a la Manda</h2>
      <h5><span class="fa fa-clock-o"></span> By Danielle de Luis, Sep 27, 2015.</h5><br>
      <h4 id = "ingredients">Ingredients:</h4>
      <p>To prepare three servings of the recipe, trhe following ingredients are needed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
     
      <br><br>

      <h4 id = "instructions">Instructions:</h4>
      <p>To prepare three servings of the recipe, follow these instructions. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><br>
      
      

      <h4 id = "reviews">Leave a Review:</h4>
      <form role="form">
        <div class="form-group" style = "border: 2px solid grey;">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">3</span> Reviews:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="assets/img/avatar.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Rajah <small>Sep 20, 2017, 12:22 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
     
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="assets/img/avatar.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Kenobi <small>Jan 5, 2015, 8:55 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
     
          <br>
            </div>        
            <div class="col-sm-2 text-center">
              <img src="assets/img/avatar.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-xs-10">
              <h4>Buggie <small>April 25, 2017, 3:52 PM</small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
     </p>
              <br>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
</main>


<footer class="container-fluid text-center">
  <p>&copy; More-Recipes&reg; 2017</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</body>
</html>