<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe Details</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">  
    <link rel = "stylesheet" href = "assets/css/style3.css">

  </head>
  <body>
    <div class="container-fluid pb-0" id = "topBand" style ="text-align: center;">
      <span class=" social fa fa-facebook"></span>
      <span class=" social fa fa-google-plus"></span>
      <span class=" social fa fa-instagram"></span>
    </div>    
    <nav class="navbar sticky-top navbar-expand-lg">
      <a class="navbar-brand" href="index.html">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">My Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Recipe</a>
            </li>      
          </ul>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn search" type="submit">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="fa fa-user fa-lg"></span>User Profile</a></li>
          </ul>      
      </div>
    </nav>  
    
    <br><br>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class = "col-sm-8">
      <div class="card bg-light text-black px-0 text-center">
      <img class="card-img" src="assets/img/lg5.jpg" alt="Sample recipe" alt="Card image" style = "height: 250px;">     
      
      <div class="card-body">
        <div>
          <span class="fa fa-thumbs-up fa-lg " style = "color: green; float: left">98</span>
          <span class="fa fa-star fa-lg" style = "color: purple; float: none;">25</span>            
          <span class="fa fa-thumbs-down fa-lg" style = "color: red; float: right">11</span>          
        </div>
        
      </div>
    </div>

  <br><br><br>
      <h2>Chicken a la Manda</h2>
      <h5><span class="fa fa-clock-o"></span> By Danielle de Luis, Sep 27, 2015.</h5><br>
      <h4 id = "ingredients">Ingredients:</h4>
      <p>To prepare three servings of the recipe, trhe following ingredients are needed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
     
      <br><br>

      <h4 id = "instructions">Instructions:</h4>
      <p>To prepare three servings of the recipe, follow these instructions. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><br>
      
      

      <h4 id = "reviews">Leave a Review:</h4>
      <form role="form">
        <div class="form-group" style = "border: 2px solid grey;">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">3</span> Reviews:</p><br>


    
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="assets/img/avatar.jpg" class="rounded-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h5 class = "media-left">Rajah <small>Sep 20, 2017, 12:22 PM</small></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <br><br>

      <div class = "row">
        <div class="col-sm-2 text-center">
          <img src="assets/img/avatar1.png" class="rounded-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h5>Kenobi <small>Jan 5, 2015, 8:55 PM</small></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>     
        </div>  
      </div>
      <br><br>

      <div class = "row">      
        <div class="col-sm-2 text-center">
          <img src="assets/img/avatar.jpg" class="rounded-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h5>Buggie <small>April 25, 2017, 3:52 PM</small></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>          
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

           <br/><br/>     
        
  <footer class="text-center fixed-bottom">
    <p>&copy; More-Recipes 2018</p>
  </footer>



	<script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
  

    
  </body>
</html>