<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">  
  <link rel="stylesheet" href="assets/css/login.css">


  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">   


</head>
<body>
  <div class="container-fluid pb-0 row" id = "topBand">      
      <div class = "col-md-1"></div>
      <div class = "col-md-10" >
        <div id = "navContainer" class = "container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html">More-Recipes</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="     Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse container-fluid" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>      
            </ul>
            <!--form class="form-inline form-right" role="search">            
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><span class = "fa fa-search"></span></div>
                <input type="text" class="form-control" id="recipeSearc" placeholder=" Search...">
              </div>            
            </form -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="dashboard.html"><span class="fa fa-handshake-o fa-lg"></span>Welcome</a></li>
            </ul>      
          </div>
        </nav>
      </div>   
    </div>
  </div><br>
  <main>
<div class="container">

      <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
        
          <div class="flip">
        <div class="card"> 
          <div class="face front"> 
              


            <div class="panel">

              <form class="form-horizontal">
                
                <br>

                <h3 class="text-center">Log in</h3>

                <br>
                
                <input class="form-control" placeholder="Username"/>
                <input class="form-control" placeholder="Password"/>
                <p class="text-right"><a href="">Forgot Password</a></p>
                <button class="btn btn-primary btn-block"><a href = "dashboard.html" style = "color:white;">LOG IN</a></button>
                <hr>
                <p class="blue">Sign in with</p>

                <p><i class="fa fa-google-plus fa-lg"></i></p>
                
                <hr>
                <p class="text-center">
                  <a href="#" class="fliper-btn">Create new account?</a>
                </p>
                <br><br>
              </form>

            </div>


          </div> 
          <div class="face back"> 
            

              <div class="panel">

              <form class="form-horizontal">
                
                <br>

                <h2 class="text-center">Sign up</h2>

                <br>
                <label>Basic Information</label>
                <input class="form-control" placeholder="name"/>
                <input class="form-control" placeholder="username"/>
                <input class="form-control" placeholder="Email"/>
                <label>Private Information</label>
                <input class="form-control" placeholder="Password"/>
                <input class="form-control" placeholder="Confirm Password"/>
                <button class="btn btn-primary btn-block"><a href = "dashboard.html" style = "color:white;">SIGN UP</a></button>


                <p class="text-center">
                  <a href="#" class="fliper-btn">Already have an account?</a>
                </p>
                
              </form>

            </div>




          </div>
        </div>   
      </div>




        </div>
        <div class="col-md-4"></div>

      </div>

    </div><!-- /.container -->


</main>



<script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom JS for flipping the card -->
<script>$('.fliper-btn').click(function(){
    $('.flip').find('.card').toggleClass('flipped');
});
</script>

</body>
</html>