<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe Details</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">  
    <link rel = "stylesheet" href = "assets/css/style3.css">

  </head>
  <body>
    <div class="container-fluid pb-0" id = "topBand" style ="text-align: center;">
      <span class=" social fa fa-facebook"></span>
      <span class=" social fa fa-google-plus"></span>
      <span class=" social fa fa-instagram"></span>
    </div>    
    <nav class="navbar sticky-top navbar-expand-lg">
      <a class="navbar-brand" href="index.html">More-Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">My Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Recipe</a>
            </li>      
          </ul>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn search" type="submit">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="fa fa-user fa-lg"></span>User Profile</a></li>
          </ul>      
      </div>
    </nav>  
    
    <br><br>
    <div class = "row">
    <div class = "col-md-1"> 
    </div>
    <div class = "col-md-10 ml-2 mr-5">
  <div class="card text-center mx-auto">
               
            <div class="card-body">               
              <img src="assets/img/avatar.jpg" class="rounded-circle" height="120px" width="160px" alt="Dave">

              <h5>Dave Duke</h5>
              Specialist In Continental Dishes
              </br></br>
              <div>
                  Name: David Duke </br>
                  Username:Dave </br>
                  Phone Number: +2348012345678</br>
                  Email:dave_duke@gmail.com
              </div>
              <br><br>
              <button class = "btn btn-primary formbutton" onclick = "enableEdit()">Edit profile</button>


              <form class = "w-50 mx-auto" id = "editForm"  style = "display: none;">
                <div class="form-group">
                  <label class="col-form-label" for="usernameInput">Username</label>
                  <input type="text" class="form-control" id="usernameInput" placeholder="Dave" readonly="readonly">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="emailInput">Email</label>
                  <input type="text" class="form-control" id="emailInput" placeholder="dave@gmail.com" readonly="readonly">
                </div>
                <div class="form-group">
                  <div class="form-group">
                  <label class="col-form-label" for="nameInput">Name</label>
                  <input type="text" class="form-control" id="nameInput" placeholder="Name">
                </div>
                  <label class="col-form-label" for="portfolioInput">Portfolio</label>
                  <input type="text" class="form-control" id="portfolioInput" placeholder="Portfolio">
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="phonenumberInput">Email</label>
                  <input type="text" class="form-control" id="phonenumberInput" placeholder="Phone nmunber">
                </div>
                <div class="form-group">
                  <div>Profile Picture</div>
                  <label class="custom-file">
                    <input type="file" id="file2" class="custom-file-input">
                    <span class="custom-file-control"></span>
                  </label>   
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>                 
               </div><!--card body-->   
            </div>
          </div>                
      <div class = "col-md-1">
      
    </div>
    </div>

  </div>
<div>

           <br/><br/>     
        
  <footer class="text-center fixed-bottom">
    <p>&copy; More-Recipes 2018</p>
  </footer>



	<script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
  <script>
        function enableEdit(){
            document.getElementById("editForm").style.display='block';
        }
        </script>

  </body>
  

    
  </body>
</html>